<template>
  <div>
    <b-modal id="modalAddProject" centered @ok="clickCreate" ref="modal"
      ><template #modal-title>
        <strong>{{ title }}</strong>
      </template>
      <b-form @submit.stop.prevent="handleSubmit" ref="form">
        <b-container fluid>
          <b-row>
            <b-col>
              <b-form-group
                label="Name project:"
                label-for="input-nameProject"
                invalid-feedback="Name is required"
                :state="nameState"
              >
                <b-form-input
                  id="input-nameProject"
                  placeholder="Enter name project"
                  required
                  v-model="input.NameProject"
                  ref="Name"
                  :state="nameState"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                label="ID project:"
                label-for="input-idProject"
                invalid-feedback="ID is required"
                :state="idState"
              >
                <b-form-input
                  id="input-idProject"
                  placeholder="Enter ID project"
                  required
                  v-model="input.IdProject"
                  type="number"
                  ref="Id"
                  :state="idState"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
        <b-container fluid>
          <b-row>
            <b-col>
              <b-form-group
                label="Client project:"
                label-for="input-clientProject"
                invalid-feedback="Client is required"
              >
                <b-form-select
                  id="input-clientProject"
                  placeholder="Select client"
                  v-model="input.ClientProject"
                  :options="clientOptions"
                  @change="chooseClient($event)"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label="Person-in-charge Client:"
                label-for="input-personClient"
                invalid-feedback="Person client is required"
              >
                <b-form-select
                  id="input-personClient"
                  placeholder="Select Person client"
                  required
                  v-model="input.PersonClient"
                  ref="PersonClient"
                  :options="personClientOptions"
                ></b-form-select>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
        <b-container fluid>
          <b-form-group
            label="Description:"
            label-for="input-descriptionProject"
          >
            <b-form-input
              id="input-descriptionProject"
              placeholder="Enter description"
              v-model="input.DescriptionProject"
            ></b-form-input>
          </b-form-group>
        </b-container>
        <b-container fluid>
          <b-row>
            <b-col>
              <b-form-group label="Type:" label-for="input-typeProject">
                <b-form-input
                  id="input-typeProject"
                  placeholder="Enter type"
                  required
                  v-model="input.TypeProject"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label="Language:"
                label-for="input-langugeProject"
                invalid-feedback="Language is required"
              >
                <b-form-select
                  class="required"
                  :options="languageOptions"
                  id="input-languageProject"
                  placeholder="Enter language"
                  v-model="input.LanguageProject"
                  @change="clickLanguage($event)"
                >
                  ></b-form-select
                >
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
        <b-container fluid>
          <b-row>
            <b-col>
              <b-form-group
                label="Start date:"
                label-for="input-startDateProject"
                invalid-feedback="Start date is required"
                :state="startDateState"
              >
                <b-form-input
                  id="input-startDateProject"
                  placeholder="Enter Start date"
                  required
                  v-model="input.StartDateProject"
                  type="date"
                  ref="StartDate"
                  :state="startDateState"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label="Delivery date:"
                label-for="input-deliveryDateProject"
                invalid-feedback="Delivery date is required"
                :state="deliveryDateState"
              >
                <b-form-input
                  id="input-deliveryDateProject"
                  placeholder="Enter Delivery date "
                  required
                  v-model="input.DeliveryDateProject"
                  type="date"
                  ref="DeliveryDate"
                  :state="deliveryDateState"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
export default {
  data() {
    return {
      languageOptions: [
        "VB.Net",
        "C/C++",
        "C#",
        "Python",
        "PHP",
        "Angular",
        "Vue",
        "React",
        "Other",
      ],
      nameState: null,
      idState: null,
      startDateState: null,
      deliveryDateState: null,
    };
  },

  props: {
    input: Object,
    modalAddProject: Object,
    clientOptions: Array,
    personClientOptions: Array,
    title: String,
    event: String,
  },

  methods: {
    checkFormValidity() {
      const valName = this.$refs.Name.checkValidity();
      this.nameState = valName;
      const valId = this.$refs.Id.checkValidity();
      this.idState = valId;
      const valStartDateState = this.$refs.StartDate.checkValidity();
      this.startDateState = valStartDateState;
      const valDeliveryDateState = this.$refs.DeliveryDate.checkValidity();
      this.deliveryDateState = valDeliveryDateState;
      if (
        this.$refs.Name.checkValidity() &&
        this.$refs.Id.checkValidity() &&
        this.$refs.StartDate.checkValidity() &&
        this.$refs.DeliveryDate.checkValidity()
      )
        return true;
      return false;
    },

    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.$emit("Create", this.input);
      this.$nextTick(() => {
        this.$bvModal.hide("modalAddProject");
      });
    },

    clickCreate(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmit();
    },

    chooseClient(event) {
      this.$emit("ChooseClient", event);
    },

    clickLanguage(event) {
      console.log(event);
    },
  },
};
</script>
