<template>
  <div>
    <b-input-group size="lg" class="w-100 p-3 mb-1 text-light">
      <div class="divLeft">
        <div class="button">
          <b-button
            id="btn-addNew"
            variant="success"
            size="lg"
            v-b-modal.modalAddProject
            @click="clickAdd()"
          >
            <b-icon icon="journal-bookmark-fill"></b-icon>
            Add Project
          </b-button>
        </div>
        <div class="divRight">
          <b-form-input
            style="height:100%;border-radius:0px"
            id="searchProjectInput"
            type="search"
            v-model="searchText"
            placeholder="Search by project name !"
            @keyup="searchProject()"
          ></b-form-input>
          <b-input-group-prepend is-text>
            <b-icon icon="search"></b-icon>
          </b-input-group-prepend>
          <button
            class="btn ml-3"
            variant="outline-info"
            v-b-popover.hover.top="'Download the table as .xls'"
            title="Export Excel"
            @click="clickDownload()"
            lable-for="exportExcel"
          >
            <export-excel
              id="exportExcel"
              :data="json_data"
              :fields="json_fields"
              name="downloadProject"
            >
              <b-icon icon="download" aria-hidden="true"></b-icon>
            </export-excel>
          </button>
        </div>
      </div>
    </b-input-group>

    <div class="table w-100">
      <b-table
        :items="itemsFilter"
        :fields="fields"
        style="border: 1px solid #d3d3d3"
        id="tableProject"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template #cell(index)="data">
          {{ (currentPage - 1) * perPage + data.index + 1 }}
        </template>
        <template #cell(Action)="data">
          {{ data.Action }}
          <b-button
            id="btn-secondary-edit"
            size="sm"
            @click="clickEdit(data.item)"
            class="mr-2"
            v-b-modal.modalAddProject
          >
            Edit
          </b-button>
          <b-button
            id="btn-secondary-delete"
            size="sm"
            v-b-modal.modalDeleteProject
            @click="clickModal(data.item)"
            class="mr-2"
          >
            Delete
          </b-button>
        </template>
      </b-table>
    </div>
    <div id="pagination-project" class="w-100 overflow-auto">
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        size="md"
        align="center"
        class="mt-3"
        aria-controls="tableProject"
      ></b-pagination>
    </div>
    <div>
      <b-modal id="modalDeleteProject" title="DELETE PROJECT" v-if="isDelete">
        <div>
          <h5><strong> Are you sure delete this project ?</strong></h5>
          <p>{{ valueDelete }}</p>
        </div>
        <template #modal-footer>
          <div class="w-100 d-flex justify-content-end">
            <b-button variant="secondary" size="md" @click="clickCancel()">
              Cancel
            </b-button>
            <b-button
              variant="danger"
              size="md"
              class="float-right ml-1"
              @click="clickDelete(tempArr), (show = false)"
            >
              Delete
            </b-button>
          </div>
        </template>
      </b-modal>
    </div>
    <AddProject
      :input="input"
      :clientOptions="clientOptions"
      :personClientOptions="personClientOptions"
      :title="title"
      @Create="clickCreate"
      @Reset="clickReset"
      @ChooseClient="chooseClient"
      v-if="isEdit"
    />
  </div>
</template>
<script>
import AddProject from "./AddProject.vue";
import { ProjectApis } from "../../Apis/Project.api.js";
const {
  getAllClient,
  getAllPerson,
  getAllProject,
  addProject,
  deleteProject,
  updateProject,
} = ProjectApis;
export default {
  data() {
    return {
      json_fields: {
        ID: "IdProject",
        "NAME PROJECT": "NameProject",
        "CLIENT PROJECT": "ClientProject",
        TYPE: "TypeProject",
        LANGUAGE: "LanguageProject",
        "START DATE": "StartDateProject",
        "DELIVERY DATE": "DeliveryDateProject",
      },
      json_data: [],
      searchText: "",
      perPage: 10,
      currentPage: 1,
      clientOptions: [],
      personClientOptions: [],
      items: [],
      itemsFilter: [],
      input: null,
      isEdit: false,
      tempArr: null,
      isDelete: false,
      valueDelete: null,
      fields: [
        {
          key: "index",
          label: "",
          variant: "success",
        },
        { key: "NameProject", label: "Project Name", sortable: true },
        { key: "IdProject", label: "ID" },
        { key: "ClientProject", label: "Client Name", sortable: true },
        { key: "DescriptionProject", label: "Description" },
        // { key: "TypeProject", label: "Type" },
        { key: "LanguageProject", label: "Language" },
        { key: "StartDateProject", label: "Start Date" },
        { key: "DeliveryDateProject", label: "Delivery Date" },
        "Action",
      ],
    };
  },
  components: {
    AddProject,
  },
  computed: {
    rows() {
      return this.items.length;
    },
  },
  watch: {
    items(val) {
      this.items = val;
    },
    itemsFilter(val) {
      this.itemsFilter = val;
    },
  },

  created() {
    getAllProject().then(({ data }) => {
      this.items = data;
      this.itemsFilter = data;
    });

    getAllClient().then(({ data }) => {
      for (var i in data) {
        this.clientOptions.push(data[i].name);
      }
    });
  },

  methods: {
    searchProject() {
      const newItem = this.items.filter((item) =>
        item.NameProject.includes(this.searchText.toUpperCase())
      );
      this.itemsFilter = newItem;
    },

    clickDownload() {
      getAllProject().then(({ data }) => {
        this.json_data = data;
      });
    },

    clickAdd() {
      let input = {
        IdProject: Math.floor(Math.random() * 900000) + 100000,
      };
      this.input = input;
      this.isEdit = true;
      let title = "ADD NEW PROJECT";
      this.title = title;
    },

    clickCreate(input) {
      let index = this.items.findIndex(
        (item) => item.IdProject == input.IdProject
      );

      const test = this.items[index]?.id;
      delete input.updatedAt;
      delete input.createdAt;
      if (index >= 0) {
        updateProject(test, input).then((data) => {
          if (data.success) {
            getAllProject().then(({ data }) => {
              this.items = data;
              this.itemsFilter = data;
            });
          }
        });
      } else {
        if (index < 0) {
          addProject(input)
            .then((data) => {
              if (data.success) {
                getAllProject().then(({ data }) => {
                  this.items = data;
                  this.itemsFilter = data;
                });
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }
      }
      this.isEdit = false;
    },

    clickEdit(input) {
      this.input = JSON.parse(JSON.stringify(input));
      this.isEdit = true;
      let title = "EDIT PROJECT";
      this.title = title;
    },

    chooseClient(event) {
      this.personClientOptions = [];
      getAllPerson().then(({ data }) => {
        for (var i in data) {
          if (data[i].Client == event) {
            this.personClientOptions.push(data[i].Name);
          }
        }
      });
    },

    clickCancel() {
      this.isDelete = false;
    },

    clickModal(temp) {
      this.tempArr = temp;
      this.isDelete = true;
      this.valueDelete =
        "Name: " + temp.NameProject + "  |  ID: " + temp.IdProject;
    },

    clickDelete(input) {
      console.log(this.items.item);
      let index = this.items.findIndex(
        (item) => item.IdProject == input.IdProject
      );
      console.log(index);
      const test = this.items[index]?.id;
      deleteProject(test).then((data) => {
        if (data.success) {
          ProjectApis.getAllProject().then(({ data }) => {
            this.items = data;
            this.itemsFilter = data;
          });
        }
      });
      this.isDelete = false;
    },

    clickReset() {
      // console.log('Reset')
      document.getElementById(
        "modalAddProject"
      ).value = document.getElementById("modalAddProject").defaultValue;
    },
  },
};
</script>
<style scoped>
.bg-secondary {
  background-color: #f8f9fa !important;
}
#btn-secondary-edit {
  background-color: #17a2b8;
  color: white;
}
#btn-secondary-delete {
  background-color: crimson;
  color: white;
}
#btn-addNew,
#btn-search {
  border-color: black;
}
#pagination-project {
  position: relative;
}
.divLeft {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.divRight {
  display: flex;
  height: 100%;
  width: 30%;
}
.input-group-text {
  border-radius: 0px;
}
</style>
