<template>
  <div>
    <b-modal
      id="modal-no-backdrop"
      hide-backdrop
      centered
      content-class="shadow"
      @show="resetModal"
      @hidden="resetModal"
    >
      <template #modal-title>
        <strong>{{ title }}</strong>
      </template>
      <b-form @submit.prevent="onSubmit" ref="form">
        <b-row>
          <b-col>
            <b-form-group
              id="input-group-1"
              label="Name device:"
              label-for="input-1"
              invalid-feedback="Name is required"
            >
              <b-form-input
                id="input-1"
                type="text"
                v-model="device.name"
                :state="namett"
                placeholder="Name device"
                required
                ref="name"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-form-group id="input-group-2" label="Code:" label-for="input-2">
              <b-form-input
                v-model="device.code"
                id="input-2"
                disabled
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <!-- <b-form-group
          id="input-group-3"
          label="Address:"
          label-for="input-3"
          invalid-feedback="Address is required"
        >
          <b-form-input
            v-model="client.address"
            placeholder="Address"
            id="input-3"
            :state="addresstt"
            required
            ref="address"
          ></b-form-input>
        </b-form-group> -->
        <b-row>
          <b-col>
            <b-form-group
              id="input-group-3"
              label="Date order:"
              label-for="input-3"
              invalid-feedback="Date order is required"
              :state="datett"
            >
              <b-form-input
                id="input-3"
                placeholder="Enter date order "
                required
                v-model="device.date"
                type="date"
                ref="date"
                :state="datett"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              id="input-group-4"
              label="Size:"
              label-for="input-4"
              invalid-feedback="Size > 0"
              :state="sizett"
            >
              <b-form-input
                v-model="device.size"
                id="input-4"
                type="number"
                :state="sizett"
                ref="size"
                placeholder="Size"
                @input="check()"
              ></b-form-input
            ></b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group
              id="input-group-5"
              label="Price:"
              label-for="input-5"
              invalid-feedback="Price is required"
              :state="pricett"
            >
              <b-form-input
                id="input-5"
                placeholder="Enter price device"
                required
                v-model="device.price"
                type="number"
                ref="price"
                :state="pricett"
                @input="check()"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              id="input-group-6"
              label="Total"
              label-for="input-6"
              invalid-feedback="Total is required"
              :state="totaltt"
            >
              <b-form-input
                v-model="device.total"
                id="input-6"
                type="number"
                :state="totaltt"
                ref="total"
                placeholder="Total"
                disabled
              ></b-form-input
            ></b-form-group>
          </b-col>
        </b-row>
        <b-form-group
          id="input-group-7"
          label="Description:"
          label-for="input-7"
          invalid-feedback="Description is required"
          :state="descriptiontt"
        >
          <b-form-input
            v-model="device.description"
            placeholder="Description"
            id="input-7"
            :state="descriptiontt"
            required
            ref="description"
          ></b-form-input>
        </b-form-group>
      </b-form>
      <template #modal-footer>
        <div class="btnCancelOk w-100 d-flex justify-content-end">
          <!-- <b-button @click="clickCancel()">
            Cancel
          </b-button> -->
          <b-button
            type="submit"
            variant="primary"
            size="md"
            class="float-right ml-2"
          >
            <div @click="clickSave()">OK</div>
          </b-button>
        </div>
      </template>
    </b-modal>
  </div>
</template>
<script>
export default {
  data() {
    return {
      namett: null,
      datett: null,
      sizett: null,
      pricett: null,
      totaltt: null,
      descriptiontt: null,
    };
  },
  props: {
    device: Object,
    title: String,
  },

  computed: {
    nameState() {
      return this.device.name.length > 0 ? true : false;
    },
    dateState() {
      return this.device.date.length > 0 ? true : false;
    },
    sizeState() {
      return this.device.size > 0 ? true : false;
    },
    priceState() {
      return this.device.price > 0 ? true : false;
    },
    descriptionState() {
      return this.device.description.length > 0 ? true : false;
    },
  },
  methods: {
    check() {
      this.device.total = this.device.size * this.device.price;
    },
    clickCancel() {
      this.$emit("hide");
    },

    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.namett = valid;
      this.datett = valid;
      this.sizett = valid;
      this.pricett = valid;

      this.descriptiontt = valid;
      console.log(valid, "dádasad");

      return valid;
    },
    resetModal() {
      this.namett = null;
      this.datett = null;
      this.sizett = null;
      this.pricett = null;

      this.descriptiontt = null;
    },
    onSubmit(event) {
      event.preventDefault();
    },
    clickSave() {
      if (!this.checkFormValidity()) {
        if (this.$refs.date) {
          this.datett = this.dateState;
        }
        if (this.$refs.name) {
          this.namett = this.nameState;
        }
        if (this.$refs.size) {
          this.sizett = this.sizeState;
        }
        if (this.$refs.price) {
          this.pricett = this.priceState;
        }
        if (this.$refs.description) {
          this.descriptiontt = this.descriptionState;
        }

        return;
      } else {
        this.$emit("save", this.device);
      }
    },
  },
};
</script>
<style scoped>
.btnCancelOk {
  display: inline;
}
</style>
