<template>
  <div>
    <b-input-group size="lg" class="w-100 p-3 mb-1 text-light">
      <div class="divLeft">
        <div class="button">
          <b-button
            id="btn-addNew"
            variant="success"
            size="lg"
            v-b-modal.modal-no-backdrop
            @click="clickAdd()"
          >
            <b-icon icon="shop"></b-icon>
            Add Order
          </b-button>
        </div>
        <div class="divRight">
          <b-form-input
            style="height:100%;border-radius:0px"
            id="myInput"
            type="search"
            placeholder="Search by order name !"
            @keyup="searchClient()"
          ></b-form-input>
          <b-input-group-prepend is-text>
            <b-icon icon="search"></b-icon>
          </b-input-group-prepend>
          <button
            class="btn ml-3"
            variant="outline-info"
            v-b-popover.hover.top="'Download the table as .xls'"
            title="Export Excel"
            @click="clickDownload()"
            lable-for="exportExcel"
          >
            <export-excel
              id="exportExcel"
              :data="json_data"
              :fields="json_fields"
              name="downloadPurchase.xls"
            >
              <b-icon icon="download" aria-hidden="true"></b-icon>
            </export-excel>
          </button>
        </div>
      </div>
    </b-input-group>

    <!-- <b-navbar
      toggleable="lg"
      type="dark"
      variant="light"
      style="position: inherit"
      class="w-100 p-3 mb-1 text-light"
    >
      <b-button
        id="btn-addNew"
        v-b-modal.modal-no-backdrop
        size="lg"
        class="my-2 my-sm-0"
        variant="warning"
        @click="clickAdd()"
      >
        <b-icon icon="person-lines-fill"></b-icon>
        Add Client
      </b-button>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input
              size="lg"
              class="mr-sm-2"
              id="myInput"
              v-on:keyup="myFunction()"
              placeholder="Name"
            ></b-form-input>
            <b-button
              id="btn-search"
              size="lg"
              class="my-2 my-sm-0"
              @click="getPost()"
              >Search</b-button
            >
          </b-nav-form>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar> -->

    <AddPurchase
      :device="device"
      :title="title"
      @save="clickSave"
      v-if="isEdit"
    />
    <b-table
      style="border: 1px solid #d3d3d3"
      :fields="fields"
      :items="orders"
      responsive="sm"
      :per-page="perPage"
      :current-page="currentPage"
      :sort-by.sync="sortBy"
      id="myTable"
    >
      <template #cell(index)="data">
        {{ (currentPage - 1) * perPage + data.index + 1 }}
      </template>
      <template #cell()="data">
        {{ data.value }}
      </template>
      <template #cell(active)="data">
        {{ data.active }}
        <b-button
          id="btn-secondary-edit"
          class="mr-2"
          size="sm"
          @click="clickEdit(data.item)"
          v-b-modal.modal-no-backdrop
          >Edit</b-button
        >
        <b-button
          id="btn-secondary-delete"
          class="mr-2"
          size="sm"
          v-b-modal.modal-1
          @click="clickAlert(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
      align="center"
    ></b-pagination>
    <b-modal id="modal-1" title="DELETE CLIENT" v-if="isDelete">
      <h5><strong> Are you sure delete this order ?</strong></h5>
      <p>{{ valueDelete }}</p>
      <template #modal-footer>
        <div class="w-100 d-flex justify-content-end">
          <b-button variant="secondary" size="md" @click="clickCancel()">
            Cancel
          </b-button>
          <b-button
            variant="danger"
            size="md"
            class="float-right ml-1"
            @click="clickDelete(tempArr), (show = false)"
          >
            Delete
          </b-button>
          <!-- <b-button
            type="submit"
            variant="primary"
            size="sm"
            class="float-right"
          >
            <div @click="clickDelete(tempArr)">Ok</div>
          </b-button> -->
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import AddPurchase from "./AddPurchase.vue";

import { orderApis } from "../../Apis/order.api.js";
const { getAllOrders, addOrder, deleteOrder, updateOrder } = orderApis;

export default {
  data() {
    return {
      json_fields: {
        CODE: "code",
        NAME: "name",
        "DATE ORDER": "date",
        DESCRIPTION: "description",
        SIZE: "size",
        PRICE: "price",
        TOTAL: "total",
      },
      json_data: [],
      sortBy: "name",
      perPage: 10,
      currentPage: 1,
      fields: [
        { key: "index", label: "", variant: "success" },
        { key: "name", label: "Name Device", sortable: true },
        "code",
        { key: "date", label: "Date Order" },
        "size",
        "description",
        "price",
        "total",
        { key: "active", label: "Action" },
      ],
      orders: [],
      tempArr: null,
      device: null,
      isEdit: false,
      isDelete: false,
      valueDelete: null,
      title: null,
    };
  },
  components: {
    AddPurchase,
  },
  computed: {
    rows() {
      return this.orders.length;
    },
  },

  created() {
    getAllOrders().then(({ data }) => {
      data.sort((a, b) => {
        var nameA = a.name.toUpperCase(); // ignore upper and lowercase
        var nameB = b.name.toUpperCase(); // ignore upper and lowercase
        if (nameA < nameB) {
          return -1;
        }
        if (nameA > nameB) {
          return 1;
        }

        // names must be equal
        return 0;
      });
      var res = data;
      this.orders = res;
    });
  },

  methods: {
    clickDownload() {
      getAllOrders().then(({ data }) => {
        this.json_data = data;
      });
    },

    clickAlert(temp) {
      this.tempArr = temp;
      this.isDelete = true;
      this.valueDelete = "Name: " + temp.name + "  |  Code: " + temp.code;
    },

    clickAdd() {
      let device = {
        code: Math.floor(Math.random() * 9000) + 1000,
        name: "",
        date: "",
        size: null,
        price: null,
        total: null,
        description: "",
      };
      this.title = "ADD NEW ORDER";
      this.device = device;
      this.isEdit = true;
    },

    clickSave(device) {
      let index = this.orders.findIndex((order) => order.code == device.code);

      console.log(device, "dfghjkl");
      delete device.updatedAt;
      delete device.createdAt;

      if (index >= 0) {
        // this.items.splice(index, 1, client);
        const test = this.orders[index].id;
        updateOrder(test, device).then((data) => {
          if (data.success) {
            getAllOrders().then(({ data }) => {
              this.orders = data;
            });
          }
        });
      } else {
        if (index < 0) {
          addOrder(device)
            .then((data) => {
              if (data.success) {
                getAllOrders().then(({ data }) => {
                  this.orders = data;
                });
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }
      }

      this.isEdit = false;
    },
    clickEdit(device) {
      this.device = JSON.parse(JSON.stringify(device));
      this.isEdit = true;
      this.title = "EDIT ORDER";
    },

    clickCancel() {
      this.isDelete = false;
    },

    clickDelete(device) {
      let index = this.orders.findIndex((order) => order.code == device.code);
      const test = this.orders[index].id;

      // this.items.splice(index, 1);

      deleteOrder(test).then((data) => {
        if (data.success) {
          getAllOrders().then(({ data }) => {
            this.orders = data;
          });
        }
      });
      this.isDelete = false;
    },
    searchClient() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    },
  },
};
</script>

<style lang="scss" scoped>
#btn-addNew,
#btn-search {
  border-color: black;
}
#btn-secondary-edit {
  background-color: #17a2b8;
  color: white;
}
#btn-secondary-delete {
  background-color: crimson;
  color: white;
}
.divLeft {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.divRight {
  display: flex;
  width: 30%;
  height: 100%;
}
.input-group-text {
  border-radius: 0px;
}
</style>
