.layout {
  right: 0;
  bottom: 0;
  width: 80%;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);

  height: 90%;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 80%;
  height: 10%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-signin {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: auto;
  margin: auto;
  text-align: center;
  width: 20%;
}
.slidebar {
  position: fixed;
  top: 0px;
  width: 20%;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #18a4bc;
  height: 100%;
  border: solid 0.1rem;
}
.img {
  width: 150px;
  height: 180px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-slidebar {
  width: 100%;
  text-align: left;
}
.logo {
  height: 400px;
  width: 400px;
}
.card {
  background-color: white;
  border-radius: 1rem;

  text-align: center;
}
.btn-primary {
  color: #fff !important;
  background-color: green !important;
  border: 1px solid green !important;
}
