<template>
  <div class="nav">
    <div class="media align-items-center" style="padding-left: 20px">
      <router-link
        :to="$route.path"
        class="h2 mb-0 text-sm font-weight-bold"
        id="headerSile"
      >
        {{ $route.name }}
      </router-link>
      <!-- <span class="mb-0 text-sm font-weight-bold"
        ><strong style="color:#4584ec">TGL SOLUTIONS</strong><br />
        <h6 style="color:#f7b68d">Smart & Speed Solutions</h6></span
      > -->
    </div>
    <div class="media align-items-center" style="padding-right: 20px">
      <!-- <div
        class="media-body ml-2 d-none d-lg-block"
        style="padding-right: 20px"
      > -->

      <b-dropdown
        class="navHeader mb-2 mr-1"
        text="Lang"
        right
        variant="outline-info"
      >
        <b-dropdown-item href="#">Vietnamese</b-dropdown-item>
        <b-dropdown-item href="#">English</b-dropdown-item>
      </b-dropdown>

      <b-button
        variant="outline-info"
        class="mb-2"
        v-b-popover.hover.top="''"
        title="Settings"
      >
        <b-icon icon="gear-fill" aria-hidden="true"></b-icon>
      </b-button>

      <b-button
        variant="outline-info"
        class="ml-1 mb-2"
        v-b-popover.hover.top="''"
        title="Notice"
      >
        <b-icon icon="bell-fill" aria-hidden="true"></b-icon>
      </b-button>

      <router-link to="/profile">
        <b-button
          variant="outline-info"
          class="ml-1 mb-2 mr-4"
          v-b-popover.hover.top="
            'Click here if you want to update your profile or change password'
          "
          title="Profile"
        >
          <b-icon icon="person-fill" aria-hidden="true"></b-icon>
        </b-button>
      </router-link>

      <!-- <span class="avatar avatar-sm rounded-circle"> -->
      <b-button
        variant="outline-danger"
        class="mb-2"
        @click="logOut()"
        v-b-popover.hover.top="''"
        title="Log out"
      >
        <b-icon icon="power" aria-hidden="true"> </b-icon>
      </b-button>
      <!-- </span> -->
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {
    logOut() {
      localStorage['token'] = '';
      localStorage['account'] = '';
      this.$router.push('/signin');
    },
    clickAvatar() {
      console.log('AAA');
    },
  },
};
</script>

<style lang="scss">
#headerSile {
  color: rgb(212, 29, 29);
  text-transform: uppercase;
}
.media {
  color: black !important;
}
.nav-link {
  color: black;
}
</style>
