<template>
  <div id="silebar" class="main-content bg-default slidebar">
    <router-link to="/">
      <img
        class="img"
        alt="Vue logo"
        src="/log.png"
        @click="changeStyleLogo()"
      />
    </router-link>
    <ul style="text-align:left; padding: 0">
      <li
        v-for="(item, index) in items"
        :key="index"
        class="nav-item m-2 border-bottom"
      >
        <router-link
          :to="item.pathname"
          class="text-light"
          exact-active-class="text-dark"
          exact=""
        >
          <b-icon class="icon" :icon="item.icon"></b-icon>
          <span style="padding-left: 10px">
            <strong>{{ item.title }}</strong></span
          >
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        { title: 'HOME', pathname: '/home', icon: 'house-fill' },
        {
          title: 'CLIENT MANAGE',
          pathname: '/client',
          icon: 'person-lines-fill',
        },
        {
          title: 'PERSON IN CHARGE',
          pathname: '/person',
          icon: 'person-plus-fill',
        },
        {
          title: 'PROJECT MANAGE',
          pathname: '/project',
          icon: 'journal-bookmark-fill',
        },
        { title: 'PURCHASE DEVICE', pathname: '/purchase', icon: 'shop' },
      ],
      className: {
        silebarText: 'silebarText',
        nav: 'nav-link-inner--text',
        active: 'active',
        normal: '',
      },
      selected: {},
    };
  },
};
</script>

<style scoped></style>
