<template>
  <div>
    <b-modal
      id="modalAddNew"
      hide-backdrop
      centered
      ref="modal"
      @ok="clickCreate"
    >
      <template #modal-title>
        <strong>{{ title }}</strong>
      </template>
      <b-form @submit.stop.prevent="handleSubmit" ref="form">
        <b-container fluid>
          <b-row>
            <b-col>
              <b-form-group
                label="Name:"
                label-for="inputName"
                invalid-feedback="Name is required"
                :state="nameState"
              >
                <b-form-input
                  type="text"
                  id="inputName"
                  placeholder="Enter name"
                  required
                  v-model="input.Name"
                  ref="Name"
                  :state="nameState"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                label="Code:"
                invalid-feedback="Code is required"
                :state="codeState"
              >
                <b-form-input
                  placeholder="Enter Code"
                  required
                  type="number"
                  v-model="input.Code"
                  ref="Code"
                  :state="codeState"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
        <b-container fluid>
          <b-row>
            <b-col>
              <b-form-group
                label="Client:"
                label-for="inputClient"
                invalid-feedback="Client is required"
                :state="clientState"
              >
                <b-form-select
                  id="inputClient"
                  :options="clientOptions"
                  required
                  placeholder="Choose Client"
                  v-model="input.Client"
                  ref="Client"
                  :state="clientState"
                  @change="chooseClient($event)"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                label="Client Code:"
                invalid-feedback="Client Code is required"
                :state="clientCodeState"
              >
                <b-form-input
                  placeholder="Auto"
                  readonly
                  v-model="input.ClientCode"
                  type="number"
                  ref="ClientCode"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
        <b-container fluid>
          <b-form-group
            label="Job Title:"
            invalid-feedback="Job Title is required"
            :state="jobTitleState"
          >
            <b-form-input
              placeholder="Enter Job Title"
              required
              v-model="input.JobTitle"
              ref="JobTitle"
              :state="jobTitleState"
            ></b-form-input>
          </b-form-group>
        </b-container>
        <b-container fluid>
          <b-form-group label="Department:">
            <b-form-select
              :options="departmentOptions"
              placeholder="Enter Department"
              v-model="input.Department"
              ref="Department"
            ></b-form-select>
          </b-form-group>
        </b-container>
        <b-container fluid>
          <b-form-group
            label="Email:"
            invalid-feedback="Email is required"
            :state="emailState"
          >
            <b-form-input
              type="email"
              placeholder="Enter Email"
              required
              v-model="input.Email"
              ref="Email"
              :state="emailState"
            ></b-form-input>
          </b-form-group>
        </b-container>
        <b-container fluid>
          <b-row>
            <b-col>
              <b-form-group
                label="Tel:"
                invalid-feedback="Tel is required, type is number"
                :state="telState"
              >
                <div style="display:flex">
                  <b-input-group-prepend is-text>+84</b-input-group-prepend>
                  <b-form-input
                    placeholder="Enter Tel"
                    required
                    type="number"
                    v-model="input.Tel"
                    ref="Tel"
                    :state="telState"
                  ></b-form-input>
                </div>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group label="Fax:">
                <b-form-input
                  placeholder="Enter Fax"
                  v-model="input.Fax"
                  ref="Fax"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
export default {
  name: "AddPerson",
  data() {
    return {
      departmentOptions: [
        "VB.Net",
        "C#",
        "Front-end",
        "Back-end",
        "Full-stack",
        "QA Teams",
        "Back Office",
        "Other",
      ],
      nameState: null,
      codeState: null,
      clientState: null,
      clientCodeState: null,
      jobTitleState: null,
      emailState: null,
      telState: null,
    };
  },
  computed: {},

  props: {
    input: Object,
    title: String,
    clientOptions: Array,
    event: String,
  },

  methods: {
    checkFormValidity() {
      const valName = this.$refs.Name.checkValidity();
      this.nameState = valName;
      const valCode = this.$refs.Code.checkValidity();
      this.codeState = valCode;
      // const valClient = this.$refs.Client.checkValidity();
      // this.clientState = valClient;
      // console.log("CLIENT", valClient);

      const valClientCode = this.$refs.ClientCode.checkValidity();
      this.clientCodeState = valClientCode;
      const valJobTitle = this.$refs.JobTitle.checkValidity();
      this.jobTitleState = valJobTitle;
      const valEmail = this.$refs.Email.checkValidity();
      this.emailState = valEmail;
      const valTel = this.$refs.Tel.checkValidity();
      this.telState = valTel;
      if (
        this.$refs.Name.checkValidity() &&
        this.$refs.Code.checkValidity() &&
        // this.$refs.Client.checkValidity() &&
        this.$refs.ClientCode.checkValidity() &&
        this.$refs.JobTitle.checkValidity() &&
        this.$refs.Email.checkValidity() &&
        this.$refs.Tel.checkValidity()
      )
        return true;
      return false;
    },

    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.$emit("Create", this.input);
      this.$nextTick(() => {
        this.$bvModal.hide("modalAddNew");
      });
    },

    clickCreate(bvModalEvt) {
      bvModalEvt.preventDefault();
      this.handleSubmit();
    },

    chooseClient(event) {
      this.$emit("ChooseClient", event);
    },
  },
};
</script>
<style scoped></style>
