<template>
  <div>
    <b-input-group size="lg" class="w-100 p-3 text-light">
      <div class="divLeft">
        <div class="button">
          <b-button
            id="btn-addNew"
            variant="success"
            size="lg"
            v-b-modal.modalAddNew
            @click="clickAdd()"
          >
            <b-icon icon="person-plus-fill"></b-icon>
            Add Person
          </b-button>
        </div>
        <div class="divRight">
          <b-form-input
            style="height:100%;border-radius:0px"
            id="searchPersonInput"
            type="search"
            placeholder="Search by person name !"
            v-model="searchText"
            @keyup="searchPerson()"
            @click="searchTest"
          ></b-form-input>
          <b-input-group-prepend is-text style="border-radius:0px">
            <b-icon icon="search"></b-icon>
          </b-input-group-prepend>
          <button
            class="btn ml-3"
            variant="outline-info"
            v-b-popover.hover.top="'Download the table as .xls'"
            title="Export Excel"
            @click="clickDownload()"
            lable-for="exportExcel"
          >
            <export-excel
              id="exportExcel"
              :data="json_data"
              :fields="json_fields"
              name="downloadPerson.xls"
            >
              <b-icon icon="download" aria-hidden="true"></b-icon>
            </export-excel>
          </button>
        </div>
      </div>
    </b-input-group>
    <div class="table w-100">
      <b-table
        :items="itemsFilter"
        :fields="fields"
        style="border: 1px solid #d3d3d3"
        id="tablePerson"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template #cell(index)="data">
          {{ (currentPage - 1) * perPage + data.index + 1 }}
        </template>

        <template #cell()="data">
          {{ data.value }}
        </template>

        <template #cell(Action)="data">
          <b-button
            id="btn-secondary-edit"
            size="sm"
            @click="clickEdit(data.item)"
            class="mr-2"
            v-b-modal.modalAddNew
          >
            Edit
          </b-button>
          <b-button
            id="btn-secondary-delete"
            size="sm"
            class="mr-2"
            v-b-modal.modalDeletePerson
            @click="clickModal(data.item)"
          >
            Delete
          </b-button>
        </template>
      </b-table>
    </div>
    <div
      id="pagination-person"
      class="w-100 overflow-auto"
      style="display: inline"
    >
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        size="md"
        align="center"
        class="mt-3"
        aria-controls="tablePerson"
      >
      </b-pagination>
    </div>
    <div>
      <b-modal id="modalDeletePerson" title="DELETE PERSON" v-if="isDelete">
        <div>
          <h5><strong> Are you sure delete this person ?</strong></h5>
          <p>{{ valueDelete }}</p>
        </div>
        <template #modal-footer>
          <div class="w-100 d-flex justify-content-end">
            <b-button variant="secondary" size="md" @click="clickCancel()">
              Cancel
            </b-button>
            <b-button
              variant="danger"
              size="md"
              class="float-right ml-1"
              @click="clickDelete(tempArr), (show = false)"
            >
              Delete
            </b-button>
          </div>
        </template>
      </b-modal>
    </div>
    <AddPerson
      :input="input"
      :title="title"
      :clientOptions="clientOptions"
      @Create="clickCreate"
      @Reset="clickReset"
      @ChooseClient="chooseClient"
      v-if="isEdit"
    />
    <!-- <DeletePerson @DeletePerson="clickDeleteDelete" /> -->
  </div>
</template>
<script>
import AddPerson from "./AddPerson.vue";
// import excel from 'vue-excel-export'
import { PersonApis } from "../../Apis/Person.api.js";
const {
  getAllClient,
  getAllPerson,
  addPerson,
  deletePerson,
  updatePerson,
} = PersonApis;
export default {
  data() {
    return {
      json_fields: {
        CODE: "Code",
        "PERSON NAME": "Name",
        "CLIENT CODE": "ClientCode",
        "CLIENT NAME": "Client",
        "JOB TITLE": "JobTitle",
        DEPARTMENT: "Department",
        EMAIL: "Email",
        TEL: "Tel",
        FAX: "Fax",
      },
      json_data: [],

      perPage: 10,
      currentPage: 1,
      clientOptions: [],
      items: [],
      itemsFilter: [],
      input: null,
      isEdit: false,
      tempArr: null,
      isDelete: false,
      valueDelete: null,
      searchText: "",
      fields: [
        { key: "index", label: "", variant: "success" },
        "Code",
        { key: "Name", label: "Person-in-Charge Name", sortable: true },
        { key: "Client", label: "Client Name", sortable: true },
        "ClientCode",
        "JobTitle",
        "Action",
      ],
    };
  },
  components: {
    AddPerson,
    // DeletePerson,
  },
  props: [],
  computed: {
    rows() {
      return this.items.length;
    },
  },

  watch: {
    items(val) {
      this.items = val;
    },
    itemsFilter(val) {
      this.itemsFilter = val;
    },
  },

  created() {
    getAllClient().then(({ data }) => {
      for (var i in data) {
        this.clientOptions.push(data[i].name);
      }
    });

    getAllPerson().then(({ data }) => {
      this.items = data;
      this.itemsFilter = data;
    });
  },

  methods: {
    searchTest(event) {
      console.log(event, this.searchText);
    },

    searchPerson() {
      const newItem = this.items.filter((item) =>
        item.Name.includes(this.searchText.toUpperCase())
      );
      this.itemsFilter = newItem;
    },

    clickDownload() {
      getAllPerson().then(({ data }) => {
        this.json_data = data;
      });
    },

    chooseClient(event) {
      getAllClient().then(({ data }) => {
        for (var i in data) {
          if (data[i].name == event) {
            console.log();
            this.input.ClientCode = data[i].code;
          }
        }
      });
    },

    clickCancel() {
      this.isDelete = false;
    },

    clickModal(temp) {
      this.tempArr = temp;
      this.isDelete = true;
      this.valueDelete =
        "Code: " +
        temp.Code +
        "  |  Name: " +
        temp.Name +
        "  |  Job Title: " +
        temp.JobTitle;
    },

    checkCode(Code) {
      getAllPerson().then(({ data }) => {
        for (var i in data) {
          if (data[i].Code == Code) return false;
        }
        this.input.Code = Math.floor(Math.random() * 90) + 10;
        return true;
      });
    },

    clickAdd() {
      let input = {
        Code: Math.floor(Math.random() * 90) + 10,
        ClientCode: null,
        Name: "",
      };

      let title = "ADD NEW PERSON";
      this.title = title;
      this.input = input;
      this.isEdit = true;
    },

    clickEdit(input) {
      this.input = JSON.parse(JSON.stringify(input));
      this.isEdit = true;
      let title = "EDIT PERSON";
      this.title = title;
    },

    clickDelete(input) {
      let index = this.items.findIndex((item) => item.Code == input.Code);
      const test = this.items[index].id;
      deletePerson(test).then((data) => {
        if (data.success) {
          PersonApis.getAllPerson().then(({ data }) => {
            this.items = data;
            this.itemsFilter = data;
          });
        }
      });
      this.isDelete = false;
    },

    clickReset() {
      document.getElementById("modalAddNew").reset();
    },

    clickCreate(input) {
      let index = this.items.findIndex((item) => item.Code == input.Code);
      delete input.updatedAt;
      delete input.createdAt;
      if (index >= 0) {
        const test = this.items[index]?.id;
        updatePerson(test, input).then((data) => {
          if (data.success) {
            getAllPerson().then(({ data }) => {
              this.items = data;
              this.itemsFilter = data;
              console.log(this.items, "THIS ITEMS");
            });
          }
        });
      } else {
        if (index < 0) {
          addPerson(input)
            .then((data) => {
              if (data.success) {
                getAllPerson().then(({ data }) => {
                  this.items = data;
                  this.itemsFilter = data;
                });
              }
            })
            .catch((error) => {
              console.log(error);
            });
        }
      }
      this.isEdit = false;
    },
  },
};
</script>
<style scoped>
.bg-secondary {
  background-color: #f8f9fa !important;
}
#btn-secondary-edit {
  background-color: #17a2b8;
  color: white;
}
#btn-secondary-delete {
  background-color: crimson;
  color: white;
}
#btn-addNew,
#btn-search {
  border-color: black;
}
#pagination-person {
  position: relative;
}
.divLeft {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.divRight {
  display: flex;
  height: 100%;
  width: 30%;
}
.input-group-text {
  border-radius: 0px;
}
</style>
