<template>
  <div>
    <div>
      <b-container class="bv-example-row">
        <b-row>
          <b-col
            ><b-card
              title="Total revenue"
              sub-title="350,897"
              class="mb-4  mb-xl-0"
            >
              <span class="text-success mr-2">
                <b-icon icon="shift-fill"></b-icon> 3.48%
              </span>
              <span class="text-nowrap">Since last month</span>
            </b-card>
          </b-col>
          <b-col
            ><b-card
              title="Total charge"
              type="gradient-red"
              sub-title="350,897"
              class="mb-4 mb-xl-0"
            >
              <span class="text-success mr-2">
                <b-icon icon="shift-fill"></b-icon> 3.48%
              </span>
              <span class="text-nowrap">Since last month</span>
            </b-card></b-col
          >
          <b-col
            ><b-card
              title="Performance"
              type="gradient-red"
              sub-title="49,65%"
              class="mb-4 mb-xl-0"
            >
              <span class="text-success mr-2">
                <b-icon icon="shift-fill"></b-icon> 54.8%
              </span>
              <span class="text-nowrap">Since last month</span>
            </b-card></b-col
          >
        </b-row>
      </b-container>
    </div>

    <div class="small">
      <div style="width:70%">
        <h2 class="m-2">Revenue company</h2>
        <line-chart :chart-data="chartdata" style="width:100%"></line-chart>
      </div>
      <div style="width:30%">
        <h2 class="m-2">Cost for one quarter</h2>
        <bar-chart :chart-data="chartdata" style="width:100%"></bar-chart>
      </div>
    </div>
  </div>
</template>

<script>
import BarChart from "./BarChart";
import LineChart from "./LineChart";

export default {
  components: {
    BarChart,
    LineChart,
  },
  data() {
    return {
      chartdata: null,
    };
  },
};
</script>

<style>
.small {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
</style>
