<template>
  <div id="app">
    <router-view />
    <!-- <SignIn />
<Home/> -->
  </div>
</template>

<script>
// import SignIn from './components/SignIn/SignIn.vue'
// import Home from './components/Home.vue'
export default {
  name: 'App',
  components: {
    // Home,
    // SignIn
  },
};
</script>

<style lang="scss">
@import './assets/scss/header/header.scss';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #d9e2eb;

}
</style>
