<template>
  <div id="layout1">
    <b-row style="text-align: center">
      <b-col cols="3">
        <b-img
          rounded="circle"
          alt="Circle image"
          src="log.png"
          style="width: 200px; height: 200px"
        ></b-img>
        <b-button variant="outline-info" class="m-4" @click="changeImage()">
          <b-icon icon="upload" aria-hidden="true"></b-icon> Change Image
        </b-button>
      </b-col>
      <b-col cols="6" style="color: black; text-align: left">
        <h3>
          <b>PERSONAL INFOMATION</b>
          <br />
          <br />
        </h3>
        <b-row>
          <b-col>
            <b-form-group
              label-for="inputSurname"
              invalid-feedback="Surname is required"
              :state="surnameState"
              >Surname <span style="color: red">*</span>
              <b-form-input
                id="inputSurname"
                placeholder="Ex: Lê Thỵ"
                type="text"
                required
                v-model="profile.Surname"
                ref="Surname"
                :state="surnameState"
              >
              </b-form-input
            ></b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              invalid-feedback="Firstname is required"
              :state="firstnameState"
              >Firstname <span style="color: red">*</span>
              <b-form-input
                placeholder="Ex: Li"
                type="text"
                required
                v-model="profile.Firstname"
                ref="Firstname"
                :state="firstnameState"
              >
              </b-form-input
            ></b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group
              invalid-feedback="Date of birth is required"
              :state="birthState"
              >Date of birth <span style="color: red">*</span>
              <b-form-input
                type="date"
                required
                v-model="profile.Birth"
                ref="Birth"
                :state="birthState"
              >
              </b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              invalid-feedback="Position is required"
              :state="positionState"
              >Position <span style="color: red">*</span>
              <b-form-input
                type="text"
                placeholder="Ex: CEO"
                required
                v-model="profile.Position"
                ref="Position"
                :state="positionState"
              >
              </b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-form-group
          invalid-feedback="Address is required"
          :state="addressState"
          >Address <span style="color: red">*</span>
          <b-form-input
            placeholder="Ex: 123 Nguyễn Gia Trí, P. 10, Q. Bình Thạnh, TPHCM"
            required
            v-model="profile.Address"
            ref="Address"
            :state="addressState"
          >
          </b-form-input>
        </b-form-group>
        <b-row>
          <b-col>
            <b-form-group
              invalid-feedback="Email is required"
              :state="emailState"
              >Email <span style="color: red">*</span>
              <b-form-input
                type="email"
                placeholder="Ex: gmail@gm.tgl.com"
                required
                v-model="profile.Email"
                ref="Email"
                :state="emailState"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              invalid-feedback="Phone is required"
              :state="phoneState"
              >Phone <span style="color: red">*</span>
              <b-form-input
                type="number"
                placeholder="Ex: 0123456789"
                required
                v-model="profile.Phone"
                ref="Phone"
                :state="phoneState"
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
      </b-col>
      <b-col cols="3" style="color: black; text-align: center">
        <h3>
          <b>PASSWORD</b>
          <br />
          <br />
        </h3>
        <b-button
          variant="info"
          class="mt-4 mb-2"
          @click="changePassword()"
          :pressed.sync="valPress"
        >
          {{ Password }}
        </b-button>
        <b-container id="passwordContainer" fluid class="mt-2">
          <b-form-group
            ><h6 style="font-weight: bold">
              Username <span style="color: red">*</span>
            </h6>
            <b-form-input
              type="text"
              required
              v-model="profile.Username"
              ref="Username"
              :state="usernameState"
              readonly
            >
            </b-form-input
          ></b-form-group>
          <b-form-group
            ><h6 style="font-weight: bold">
              Current Password <span style="color: red">*</span>
            </h6>
            <b-form-input
              type="password"
              required
              v-model="CurrentPasswordUser"
            >
            </b-form-input
          ></b-form-group>
          <b-form-group
            ><h6 style="font-weight: bold">
              New Password <span style="color: red">*</span>
            </h6>
            <b-form-input
              type="password"
              required
              v-model="NewPasswordUser"
              ref="Password"
              :state="passwordState"
            >
            </b-form-input
          ></b-form-group>
          <b-form-group
            ><h6 style="font-weight: bold">
              Confirm New Password <span style="color: red">*</span>
            </h6>
            <b-form-input
              type="password"
              class="mb-2"
              required
              v-model="ConfirmPasswordUser"
              ref="ConfirmPassword"
              :state="confirmPasswordState"
            >
            </b-form-input>
          </b-form-group>
        </b-container>
      </b-col>
    </b-row>
    <b-button variant="info" style="margin-top: 50px" @click="clickSave()">
      <b>SAVE PROFILE</b>
    </b-button>
  </div>
</template>
<script>
import { ProfileApis } from "../../Apis/Profile.api.js";

const {
  // getAllProfile,
  getOneProfile,
  updateProfile,
} = ProfileApis;
export default {
  data() {
    return {
      Password: "Change Password",

      valPress: false,
      profile: null,
      surnameState: null,
      firstnameState: null,
      birthState: null,
      positionState: null,
      addressState: null,
      emailState: null,
      phoneState: null,
      usernameState: null,
      passwordState: null,
      confirmPasswordState: null,
      CurrentPasswordUser: "",
      NewPasswordUser: "",
      ConfirmPasswordUser: "",
    };
  },

  watch: {
    profile(val) {
      this.profile = val;
    },
  },

  created() {
    this.$store.state.account = localStorage["account"];
    let profile = {
      Surname: "",
      Username: this.$store.state.account,
    };
    this.profile = profile;
    getOneProfile(this.$store.state.account).then(({ data }) => {
      this.profile = data;
    });
  },

  methods: {
    onSubmit() {},

    changeImage() {},

    changePassword(profile) {
      profile = this.profile;
      if (this.valPress) {
        this.Password = "Save Password";
        document.getElementById("passwordContainer").style.display = "block";
        // document.getElementById("layout1").style.filter = "blur(2px)";
      } else {
        if (
          this.CurrentPasswordUser !== "" &&
          this.NewPasswordUser === this.ConfirmPasswordUser &&
          this.NewPasswordUser !== ""
        ) {
          getOneProfile(this.profile.Username).then(({ data }) => {
            if (data.Password === this.CurrentPasswordUser) {
              delete profile.updatedAt;
              delete profile.createdAt;
              profile.Password = this.NewPasswordUser;
              updateProfile(this.profile.Username, profile).then(({ data }) => {
                this.profile = data;
              });
              this.Password = "Change Password";
              document.getElementById("passwordContainer").style.display =
                "none";
            } else {
              alert("Current password is not correct!");
            }
          });
        } else {
          alert(
            "Sure that New password and Confirm new password is the same.\nFill in all the boxes"
          );
          this.Password = "Change Password";
          this.CurrentPasswordUser = "";
          this.NewPasswordUser = "";
          this.ConfirmPasswordUser = "";
          document.getElementById("passwordContainer").style.display = "none";
        }
      }
    },

    clickSave(profile) {
      profile = this.profile;
      delete profile.updatedAt;
      delete profile.createdAt;
      updateProfile(profile.Username, profile);
    },
  },
};
</script>

<style scoped>
#passwordContainer {
  color: black;
  text-align: left;
  display: none;
}

#passwordContainer *[id*="layout1"] {
  filter: blur(2px);
}
</style>
