<template>
  <div>
    <b-container fluid id="logIn">
      <img alt="Vue logo" src="/log.png" class="logo" />
      <div class="form-signin" style="color: black">LOG IN</div>
      <b-form v-on:submit.prevent="onSubmit">
        <div class="form-signin">
          <b-form-input
            v-model="UsernameLogin"
            type="text"
            placeholder="Username"
            ref="tk"
            required
          ></b-form-input>
        </div>
        <div class="form-signin">
          <b-form-input
            v-model="PasswordLogin"
            type="password"
            placeholder="Password"
            ref="mk"
            required
          ></b-form-input>
        </div>

        <div class="form-signin">
          <b-button type="submit" variant="success" @click="clickLogin()"
            >Log in</b-button
          >
        </div>
        <h6 style="color: gray; margin-top: 50px">
          If I don't have an account sign in here !
        </h6>
        <div>
          <b-button type="button" variant="success" @click="clickSignIn()"
            >Sign up</b-button
          >
        </div>
      </b-form>
    </b-container>
    <b-form @submit.stop.prevent="handleSubmit" ref="form">
      <b-container fluid id="signIn">
        <b-row style="margin-top: 50px">
          <b-col cols="3">
            <b-img
              rounded="circle"
              alt="Circle image"
              src="log.png"
              style="width: 200px; height: 200px"
            ></b-img>
            <b-button variant="outline-info" class="m-4" @click="changeImage()">
              <b-icon icon="upload" aria-hidden="true"></b-icon> Change Image
            </b-button>
          </b-col>
          <b-col cols="6" style="color: black; text-align: left">
            <h3>
              <b>PERSONAL INFOMATION</b>
              <br />
              <br />
            </h3>
            <b-row>
              <b-col>
                <b-form-group
                  label-for="inputSurname"
                  invalid-feedback="Surname is required"
                  :state="surnameState"
                  >Surname <span style="color: red">*</span>
                  <b-form-input
                    id="inputSurname"
                    placeholder="Ex: Lê Thỵ"
                    type="text"
                    required
                    v-model="signin.Surname"
                    ref="Surname"
                    :state="surnameState"
                  >
                  </b-form-input
                ></b-form-group>
              </b-col>
              <b-col>
                <b-form-group
                  invalid-feedback="Firstname is required"
                  :state="firstnameState"
                  >Firstname <span style="color: red">*</span>
                  <b-form-input
                    placeholder="Ex: Li"
                    type="text"
                    required
                    v-model="signin.Firstname"
                    ref="Firstname"
                    :state="firstnameState"
                  >
                  </b-form-input
                ></b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group
                  invalid-feedback="Date of birth is required"
                  :state="birthState"
                  >Date of birth <span style="color: red">*</span>
                  <b-form-input
                    type="date"
                    required
                    v-model="signin.Birth"
                    ref="Birth"
                    :state="birthState"
                  >
                  </b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group
                  invalid-feedback="Position is required"
                  :state="positionState"
                  >Position <span style="color: red">*</span>
                  <b-form-input
                    type="text"
                    placeholder="Ex: CEO"
                    required
                    v-model="signin.Position"
                    ref="Position"
                    :state="positionState"
                  >
                  </b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-form-group
              invalid-feedback="Address is required"
              :state="addressState"
              >Address <span style="color: red">*</span>
              <b-form-input
                placeholder="Ex: 123 Nguyễn Gia Trí, P. 10, Q. Bình Thạnh, TPHCM"
                required
                v-model="signin.Address"
                ref="Address"
                :state="addressState"
              >
              </b-form-input>
            </b-form-group>
            <b-row>
              <b-col>
                <b-form-group
                  invalid-feedback="Email is required"
                  :state="emailState"
                  >Email <span style="color: red">*</span>
                  <b-form-input
                    type="email"
                    placeholder="Ex: gmail@gm.tgl.com"
                    required
                    v-model="signin.Email"
                    ref="Email"
                    :state="emailState"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group
                  invalid-feedback="Phone is required"
                  :state="phoneState"
                  >Phone <span style="color: red">*</span>
                  <b-form-input
                    type="number"
                    placeholder="Ex: 0123456789"
                    required
                    v-model="signin.Phone"
                    ref="Phone"
                    :state="phoneState"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>

          <b-col cols="3" style="color: black; text-align: left">
            <h3>
              <b>PASSWORD</b>
              <br />
              <br />
            </h3>
            <b-container id="passwordContainer" fluid class="mt-2">
              <b-form-group
                ><h6 style="font-weight: bold">
                  Username <span style="color: red">*</span>
                </h6>
                <b-form-input
                  type="text"
                  required
                  v-model="signin.Username"
                  ref="Username"
                  :state="usernameState"
                >
                </b-form-input
              ></b-form-group>
              <b-form-group
                ><h6 style="font-weight: bold">
                  Password <span style="color: red">*</span>
                </h6>
                <b-form-input
                  type="password"
                  required
                  v-model="signin.Password"
                  ref="Password"
                  :state="passwordState"
                >
                </b-form-input
              ></b-form-group>
              <b-form-group
                ><h6 style="font-weight: bold">
                  Confirm Password <span style="color: red">*</span>
                </h6>
                <b-form-input
                  type="password"
                  class="mb-2"
                  required
                  v-model="signin.ConfirmPassword"
                  ref="ConfirmPassword"
                  :state="confirmPasswordState"
                >
                </b-form-input>
              </b-form-group>
            </b-container>
          </b-col>
        </b-row>
        <b-button
          variant="danger"
          style="margin-top: 50px; margin-right: 20px"
          v-b-modal.modalCheckBack
          @click="clickBack()"
        >
          <b> BACK </b>
        </b-button>
        <b-button
          variant="info"
          style="margin-top: 50px"
          type="submit"
          @click="clickCreate()"
        >
          <b>CREATE</b>
        </b-button>
      </b-container>
    </b-form>
    <div>
      <b-modal id="modalCheckBack" v-if="isCheckBack">
        <div>
          <h6><strong> Are you sure back Log in page ?</strong></h6>
          <h6>All infomation will not save</h6>
        </div>
        <template #modal-footer>
          <div class="w-100 d-flex justify-content-end">
            <b-button variant="secondary" size="md" @click="clickCancel()">
              Cancel
            </b-button>
            <b-button
              variant="danger"
              size="md"
              class="float-right ml-1"
              @click="clickOk()"
            >
              OK
            </b-button>
          </div>
        </template>
      </b-modal>
    </div>
    <!-- <Profile :UsernameUser="UsernameUser" ></Profile> -->
  </div>
</template>

<script>
import { ProfileApis } from '../../Apis/Profile.api.js';
// import Profile from "../../components/Profile/Profile.vue";

const {
  // getAllProfile,
  getOneProfile,
  addProfile,
  // deleteProfile,
  // updateProfile,
} = ProfileApis;

export default {
  name: 'SignIn',
  data() {
    return {
      UsernameLogin: '',
      PasswordLogin: '',
      signin: null,

      surnameState: null,
      firstnameState: null,
      birthState: null,
      positionState: null,
      addressState: null,
      emailState: null,
      phoneState: null,
      usernameState: null,
      passwordState: null,
      confirmPasswordState: null,
      isCheckBack: false,
    };
  },
  computed: {},

  watch: {
    signin(val) {
      this.signin = val;
      console.log(val);
    },
  },

  created() {
    if (this.$store.state.user !== '') {
      this.$router.push('/');
    }
    let signin = {
      Username: '',
      Password: '',
      ConfirmPassword: '',
      Surname: '',
      Firstname: '',
      Birth: '',
      Position: '',
      Email: '',
      Address: '',
      Phone: null,
    };
    this.signin = signin;
  },

  methods: {
    onSubmit() {},
    checkFormValidity() {},
    clickBack() {
      this.isCheckBack = true;
    },
    clickCancel() {
      this.isCheckBack = false;
    },
    clickOk() {
      document.getElementById('logIn').style.display = 'block';
      document.getElementById('signIn').style.display = 'none';
      this.isCheckBack = false;
    },

    clickCreate(signin) {
      if (
        this.signin.Password === this.signin.ConfirmPassword &&
        this.signin.Password !== ''
      ) {
        signin = this.signin;
        getOneProfile(this.signin.Username)
          .then((data) => {
            if (data.data) {
              alert('Username already exists choose other Username');
            } else {
              addProfile(signin)
                .then(({ data }) => {
                  console.log('ADDDDDDD', data);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          })
          .catch(() => {});
      } else {
        alert(
          'Fill all input required. Sure that password and confirm password is the same'
        );
      }
    },

    handleSubmit(event) {
      event.preventDefault();
    },

    clickSignIn() {
      document.getElementById('logIn').style.display = 'none';
      document.getElementById('signIn').style.display = 'block';
    },

    clickLogin() {
      getOneProfile(this.UsernameLogin)
        .then(({ data }) => {
          localStorage.setItem('token', data.Username);
          localStorage.setItem('account', data.Username);
          this.$store.state.account = localStorage['account'];
          if (data.Password === this.PasswordLogin) {
            console.log('1111111111', data.Password, this.PasswordLogin);

            this.$router.push('/home');
          } else {
            console.log('2222222222222', data.Password, this.PasswordLogin);
            alert('Password not correct!');
          }
        })
        .catch(() => {
          alert('User is not registered!\nPlease register the user first.');
        });
    },
  },
};
</script>

<style lang="css" scoped>
input {
  margin: 10px;
  font-family: sans-serif;
}
#signIn {
  display: none;
}
#logIn {
  display: block;
}
#passwordContainer {
  color: black;
  text-align: left;
}
</style>
