<template>
  <div>
    <b-modal
      id="modal-no-backdrop"
      hide-backdrop
      centered
      content-class="shadow"
      @show="resetModal"
      @hidden="resetModal"
    >
      <template #modal-title>
        <strong>{{ title }}</strong>
      </template>
      <b-form @submit.prevent="onSubmit" ref="form">
        <b-row>
          <b-col>
            <b-form-group
              id="input-group-1"
              label="Name:"
              label-for="input-1"
              invalid-feedback="Name is required"
            >
              <b-form-input
                id="input-1"
                type="text"
                v-model="client.name"
                :state="namett"
                placeholder="Name"
                required
                ref="name"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-form-group id="input-group-2" label="Code:" label-for="input-2">
              <b-form-input
                v-model="client.code"
                id="input-2"
                disabled
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-form-group
          id="input-group-3"
          label="Address:"
          label-for="input-3"
          invalid-feedback="Address is required"
        >
          <b-form-input
            v-model="client.address"
            placeholder="Address"
            id="input-3"
            :state="addresstt"
            required
            ref="address"
          ></b-form-input>
        </b-form-group>
        <b-row>
          <b-col>
            <b-form-group
              id="input-group-4"
              label="Rank:"
              label-for="input-4"
              invalid-feedback="Rank is required"
            >
              <b-form-select
                v-model="client.rank"
                id="input-4"
                :options="options"
                :state="ranktt"
                ref="rank"
              >
                <template #first>
                  <b-form-select-option :value="null" disabled
                    >-- Please select an rank --</b-form-select-option
                  >
                </template></b-form-select
              ></b-form-group
            >
          </b-col>
          <b-col>
            <b-form-group
              id="input-group-5"
              label="Post code:"
              label-for="input-5"
              invalid-feedback="Postcode is required and > 0"
            >
              <b-form-input
                v-model="client.postcode"
                id="input-5"
                type="number"
                :state="postcodett"
                ref="postcode"
                placeholder="Number"
              ></b-form-input
            ></b-form-group>
          </b-col>
        </b-row>
      </b-form>
      <template #modal-footer>
        <div class="btnCancelOk w-100 d-flex justify-content-end">
          <!-- <b-button @click="clickCancel()">
            Cancel
          </b-button> -->
          <b-button
            type="submit"
            variant="primary"
            size="md"
            class="float-right ml-2"
          >
            <div @click="clickSave()">OK</div>
          </b-button>
        </div>
      </template>
    </b-modal>
  </div>
</template>
<script>
export default {
  data() {
    return {
      options: [
        { value: 'S', text: 'S' },
        { value: 'A', text: 'A' },
        { value: 'B', text: 'B' },
        { value: 'C', text: 'C' },
        { value: 'D', text: 'D' },
      ],
      namett: null,
      addresstt: null,
      ranktt: null,
      postcodett: null,
    };
  },
  props: {
    client: Object,
    title: String,
  },

  computed: {
    nameState() {
      return this.client.name.length > 0 ? true : false;
    },
    addressState() {
      return this.client.address.length > 0 ? true : false;
    },
    rankState() {
      return this.client.rank.length > 0 ? true : false;
    },
    postcodeState() {
      return this.client.postcode > 99999 ? true : false;
    },
  },
  methods: {
    clickCancel() {
      this.$emit('hide');
    },

    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.namett = valid;
      this.addresstt = valid;
      this.ranktt = valid;
      this.postcodett = valid;
      console.log(valid, 'dádasad');

      return valid;
    },
    resetModal() {
      this.namett = null;
      this.addresstt = null;
      this.ranktt = null;
      this.postcodett = null;
    },
    onSubmit(event) {
      event.preventDefault();
    },
    clickSave() {
      if (!this.checkFormValidity()) {
        if (this.$refs.address) {
          this.addresstt = this.addressState;
        }
        if (this.$refs.name) {
          this.namett = this.nameState;
        }
        if (this.$refs.rank) {
          this.ranktt = this.rankState;
        }
        if (this.$refs.postcode) {
          this.postcodett = this.postcodeState;
        }
        return;
      } else {
        this.$emit('save', this.client);
      }
    },
  },
};
</script>
<style scoped>
.btnCancelOk {
  display: inline;
}
</style>
