<template>
  <div>
    <div>
      <Silebar />
    </div>
    <div>
      <Header></Header>
    </div>
    <div class="layout">
      <router-view />
    </div>
  </div>
</template>

<script>
import Header from "./Header/Header.vue";
import Silebar from "./Silebar/Silebar.vue";
export default {
  data() {
    return {
      title: "Home",
    };
  },
  name: "Home",
  components: {
    Header,
    Silebar,
  },
};
</script>
<style scoped>
@import "../assets/scss/header/header.scss";
</style>
